* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root {
    --primary-color: #ff6b35;
    --dark-color: #1a1a1a;
    --gray-color: #6c757d;
    --ligth-color: #f8f9fa;
    --radius: 16px;
    --shadow: 0 10px 40px rgba(0, 0 , 0, 0.1);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

.btn {
    background: var(--primary-color);
    display: inline-block;
    padding: 12px 24px;
    color: #fff;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover {
    filter: brightness(0.9);
    transform: translateY(-2px);
}

.btn-outline {
    background: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.btn-outline:hover{
    background-color: var(--primary-color);
    color: #fff;
}

.btn-ligth {
    background-color: #fff;
    color: var(--primary-color);
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

header {
    position: fixed;
    inset: 0 0 auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5%;
    background: #fff;
    box-shadow: var(--shadow);
    z-index: 99;
}

header nav {
    display:  flex;
    gap: 30px;
}

header nav a {
    font-weight: 600;
}

header nav a:hover {
    color: var(--primary-color);
}

.hero-wrapper {
    background: linear-gradient(135deg, #fff9f5, #fff);
    padding-top: 80px;
}
.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 60px 20px;
}

.hero h1{
    font-size: 48px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    color: var(--gray-color);
    margin-bottom: 30px;
}

.hero img {
    border-radius: var(--radius);
    box-shadow: 0 20px 60px rgba(255, 107, 53, 0.3);
}

.hero-buttons {
    display: flex;
    gap: 15px;
    margin-bottom: 40px;
}

.hero-stats {
    display: flex;
    gap: 40px;
}

.hero-stats li {
    display: flex;
    flex-direction: column;
}